.card {
  width: 320px;
  padding: 24px;
  border-radius: 16px;
  background: white;
  font-family: system-ui, sans-serif;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}